
<footer class="footer">
    <!--The footer Logo Container -->
    <div id="footer_logo_container"><abbr title="Top"><a href="/"><img src="Images/Airport-logo.png" alt="Logo"></a></abbr>
    </div>
      <!--The  Feature Destination container  -->
    <div class="feature_destination_container">
      <h4>Feature Destination</h4>
        <!--destination links article  -->
      <article class="destinations_links_contianer">
        <h4><a href="https://www.brusselsairlines.com/de/de/homepage">Brussels</a></h4>
        <h4><a href="https://www.kenya-airways.com/en/?gad_source=1&gclid=CjwKCAiAuNGuBhAkEiwAGId4alHWBN-6X7LsAJSu-wiA2bQRO91pyou2S_x_S5N6IwPjpXmzEuWQ4RoCZSEQAvD_BwE">Kenya</a></h3>
        <h4><a href="https://www.schiphol.nl/en">Amaterdam Schiphol</a></h4>
        <h4><a href="https://www.aircotedivoire.com/en/home/">Abidjan</a></h4>
        <h4><a href="https://www.gacl.com.gh/">Kotoka</a></h4>
        <h4><a href="https://www.slaa.sl/">Lungi, Sierra Leone</a></h4>
        <h4><a href="https://aeroportcasablancamaroc.com/en/">Mohammad Nouaceur, morocco</a></h4>
      </article>
    </div>
     <!--The Airport container-->
    <div class="the_airport_container">
        <h4>The Airport</h44>
        <article class="the_airport_link_container">
        <h4><a href="/about">About Us</a></h4>
        <h4><a href="/newsroom">News</a></h4>
        <h4><a href="/services">Services</a></h4>
        <h4><a href="/destination">Destination</a></h4>
        <h4><a href="/thingsto_know">Things To Know</a></h4>
        <h4><a href="/parking_transport">Parking</a></h4>
        <h4><a href="/contact">Contact</a></h4>
        <h4><a href="/passenager">Passenger Statistic</a></h4>
        </article>
    </div>
  
    <div class="the_quick_link_container">
     <h4>Quick Links</h4>
     <article class="the_quick_link">
      <h4><a href="/privacy_cookies">Privacy & Cookies</a></h4> 
      <h4><a href="/term_of_use">Website Terms of Use</a></h4>
      </article>
  
      <div class="small_logo">
        <abbr title="Top"><a href="/"><img src="./Images/Airport-logo.png" alt="Logo" ></a></abbr>
      </div>
    </div>  
     <!--The Connect with us and copy right container in the footer-->
    <article class="connect_with_us_copyright_container">
        <div class="connect_withus_container">  
            <p>CONNECT WITH US</p>
            <div class="connect_icons">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
  
        <!--The copy right conntainer-->
        <div class="copy_right_container"><span class="apm">&#169; 2024 Robert International Airport</span></div>
    </article>
  
  
  </footer>
  
<<<<<<< HEAD
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
=======
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
>>>>>>> 3ddee512487da936c124b10ac10124032b97d020
      <script src="js/index.js"></script>
      <script src="js/flight_status.js"></script>
      <script>
        showAnimation();
        // Initialize the headerSearchBar function when the page loads
        window.onload = headerSearchBar;
      </script>
     
  
  </body>
  </html>