<%- include("partials/header") %>

  <!--BEGAINING of the flight status page hero Section--->    
<section class="business_opportunity_hero_section">
  <!--Call to action text-->
        <article class="business_opportunity_hero_article">
          <div class="business_opportunity_hero_div">
            <h1 id="business_opportunity_hero_text">About Us</h1>
          </div>
        </article>
</section>    
  
  <!--END of the flight status page hero Section----------------------------------------------------------------->    
  
  <!--Home flight Status starts here------------------->
<div class="home_flight_status">
  <div class="home_flight_status_inner">
    <h2>
      <a href="/" class="home">Home</a>
    </h2>
    <span class="home_flight_status_span">&#62;</span>
    <h2>
      <a href="/about" class="flight_status">About Us</a>
    </h2>
  </div>
</div>
  <!--Home flight Status ends here------------------->

 <!--A scroll to the arrow div starts here-->
 <a href="/about" id="scroll_arrow">
  <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>

<!--A scroll to the arrow div ends here-->

 <!----------The History Section---------->
<section class="about_container">
  <div class="about_history">
      <div class="about_history_content">
        <h2 class="about_history_label">Our History</h2>
          <p class="about_history_para">Roberts International Airport (IATA: ROR, ICAO: GIRR), informally also known as Robertfield,
               is the international airport of liberia. Located near the town of Harbel, the single runway
               airport is about 35 miles (56 km) outside of the nations capital Monronvia.
               The facility with it's 11,000 feet (3,400 m) long runway was an emergency landing site for 
               the United States Space Shuttle program and is the principal airport in the country 
               and one ofonly two with paved runways in the raclon. The airport is named in honor of
               Joseph Jenkins Roberts. The First President of Liberia.
           </p>
             <div ><a href="" class="show_more_link">SHOW MORE &#62;&#62;</a></div> 
      </div>

      <div class="about_history_image">
        <img src="Images/roberts_new_terminal.jpg" alt="">
      </div>

  </div>
    
  <div class="about_map">

  <div class="about_map_image">
    <img src="Images/Monrovia-airport-slide2.webp" alt="">
  </div>

  <div class="about_map_label_container">
    <h2 class="about_map_label">Map of Robert International Airport</h2>
    <p class="about_map_para">Monronvia Robert International Airport is located near the town of Harbel,
      in Margibi County, Liberia. The single runway airport is about 35 miles (56 km)
      outside of the nations capital Monronvia and about 15 miles  upstream from 
      the Atlantic Ocean.
    </p>
  </div>

  </div>
</section>

<!--The Footer Section-->

<%- include("partials/footer") %>