<%- include("patials/header") %>

<!--BEGAINING OF Call to action Section--->    
<section class="advertise_CTA_section fade">
  <!--Call to action text-->
      <article class="advertise_CTA_section_text_container">
        <div class="advertise_CTA_section_landing_text">
          <h1 id="advertise_CTA_section_text">Advertising at RIA</h1>
          <h4 id="second_hero_text">This is the perfect place to Showcase Your Brand To the World.</h4>
        </div>
  
      <div class="img_container">
        <img src="Images/advertise1.jpg" alt="advertise BackGround Image" class="background_image">
        <img src="Images/advertise2.jpg" alt="advertise BackGround Image" class="background_image">
        <img src="Images/advertise3.jpg" alt="advertise BackGround Image" class="background_image">
        <img src="Images/advertise4.jpg" alt="advertise BackGround Image" class="background_image">
      </div>
  
    <!--Find your flight box-->
    <div class="find_flight_raidio_container">
  
       <!--Radio button section-->
       <form action="" class="radio_container">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
         <span class="dot"></span>
         
       </form>
    </div>
      
       <!--Radio bottons-->
      
     </article>
  </section>   
  
  <!--END OF Call to action Section-=====================================================================================================-->  
  
  <!--Home Business opportunity starts here------->
  <div class="home_business_opportunity">
      <div class="home_business_opportunity_inner">
          <h2>
              <a href="/" class="home">Home</a>
          </h2> 
          <span class="home_business_opportunity_span">&#62;</span>
          <h2>
              <a href="/business_opportities" class="home">Business Opportunity</a>
          </h2>
          <span class="home_business_opportunity_span">&#62;</span>
          <h2>
            <a href="/advertisting" class="business_opportunity">Advertisting</a>
        </h2>
      </div>
    </div>
    
  <!--Home Business opportunity ends here---------> 

  <!--A scroll to the arrow div starts here-->
  <a href="/advertisting" id="scroll_arrow">
    <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
  
  <!--A scroll to the arrow div ends here-->

  <!--The body section of the advertisement page starts here-->

<section class="advertise_explaination_section">
   <div class="advertise_explaination_div">
      <article class="advertise_article_main_label">
         <h2>Unveil Your Brand to a Global Audience</h2>
      </article>
      <article class="advertise_article_para advertise_article_1_para">
        <p>Through advertising or organizing a showcase or interactive experience within the terminals of a prominent international airport, you gain exposure to a diverse customer base from across the globe on a daily basis. Empower your brand to take flight and connect with both corporate travelers and luxury holidaymakers.</p>
      </article>
      <article class="advertise_article_sub_label">
        <h3>Our RIA Travelers</h3>
      </article>
      <article class="advertise_article_para">
        <p>You've got an engaged audience for 45 minutes to present your advertisements and demonstrations</p>
      </article>
      <article class="advertise_article_sub_label_unlist_container">
        <ul class="advertise_article_sub_label_unlist">
          <li>
            Approximately one-third are business travelers</li>
          <li>While around one-fifths boast a household income surpassing $50,000 annually.</li>
          <li>Roughly three-fifths fall within the age range of 25 to 60</li>
          <li>With an average stay duration of 50 minutes.</li>
        </ul>
      </article>
      <article class="advertise_article_sub_label">
        <h3>Quick Communication Channels</h3>
      </article>
      <article class="advertise_article_para">
        <p>A fast-paced link isn't only for the digital realm. RIA's high-speed Skylink airport train rapidly transports passengers between terminals, with an average ride time of less than five minutes. Considering that half of RIA's travelers are connecting, your advertisement can promptly reach passengers from other terminals within minutes, regardless of their originating terminal.</p>
      </article>
      <article class="advertise_article_sub_label">
           <h3>Digital-Ready and Additional</h3>
      </article>
      <article class="advertise_article_para">
        <p>RIA Stands Out as Among the Globe's Leading Technology-Adopting Airports 2nd-ranked Wi-Fi Hub Worldwide for Business Travelers</p>
      </article>
      <article class="advertise_article_sub_label3_unlist_container">
        <ul class="advertise_article_sub_label_unlist">
          <li>Acknowledged by the RIA Metroplex Technology Business Council as the 2007 recipient of the "Technology Adopter" award for exemplary incorporation and utilization of cutting-edge technologies</li>
          <li>Honored by Airport Revenue News magazine as the winner of the Best Concessions Management Team award for major airports, in recognition of pioneering new offerings and facilities for passengers and concession partners.</li>
        </ul>
      </article>
      <article class="advertise_article_sub_label">
        <h3>Updated, Impressive Achievements</h3>
      </article>
      <article class="advertise_article_para">
        <p>Chosen as Best Large Airport in North America for Customer Satisfaction by Airport Councils International</p>
      </article>
      <article class="advertise_article_sub_label">
        <h3>Our Advertising Partner</h3>
      </article>
      <article class="advertise_article_para">
        <p><a href="#" class="advertise_article_6_para_link">ChampionDesign</a> is RIA's official advertising partner and is the market leader in brand advertising. ChampionDesign provides a service to this audience, enhancing the airport experience with progressive media technology and special programs.</p>
      </article>
   </div>

</section>

  <!--The body section of the advertisement page ends here-->
<section class="advertise_section_to_get_touch">
 <div class="advertise_div_to_get_touch">
   <div class="advertise_div_to_get_in_touch advertise_div_to_get_in_touch_label">
    <h2>Ready to Advertise? Give us a call.</h2>
   </div>
   <div class="advertise_div_to_get_in_touch advertise_div_to_get_in_touch_para">
    <p>Come be a part of the story. Give your brand the best exposure and leave a lasting impact to an international audience.</p>
   </div>
   <div class="advertise_div_to_get_in_touch advertise_div_to_get_in_touch_link">
    <a href="tel:0881617698" class="advertise_call_btn_link">Call <span class="advertise_call_span">(+231)881617698</span>&rightarrow;</a>
    <a href="mailto:daiminahthompson@gmail.com" class="advertise_email_btn_link">Email <span >&rightarrow;</span></a>
  </div>
 </div>
</section>

<%- include("patials/footer") %>