<%- include("partials/header") %>

<!--BEGAINING of the Business opportunity page hero Section--->    
<section class="business_opportunity_hero_section">
  <!--Call to action text-->
      <article class="business_opportunity_hero_article">
        <div class="business_opportunity_hero_div">
          <h1 id="business_opportunity_hero_text">Business Opportunities</h1>
        </div>
      </article>
  </section>   
  <!--END of the Business opportunity page hero Section-------------------------------->    
  
  <!--Home Business opportunity starts here------->
  <div class="home_business_opportunity">
      <div class="home_business_opportunity_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_business_opportunity_span">&#62;</span> <h2><a href="business_opportities" class="business_opportunity">Business Opportunity</a></h2></div>
    </div>
    
  <!--Home Business opportunity ends here--------->
     <!--A scroll to the arrow div starts here-->
  <a href="./business_opportities" id="scroll_arrow">
    <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
  
  <!--A scroll to the arrow div ends here-->
<section class="busOppor_label_text_cards_container">
  <div class="busOppor_label_text_inner_cont1">
    <div class="busOppor_label_div">
      <h3>Join us in contributing to the development of the local area we cater to and the diverse international clientele we embrace.</h3>
    </div>

    <div class="busOppor_text_div">
      <h2>Entrepreneurial Potential Awaits at RIA: Prepared for Launch</h2>
    </div>
  </div>

  <div class="BusOppor_label_text_inner_cont2">
      
   <div class="busOppor_cards_container">

  <div>
    <a href="/advertisting"  class="busOppor_cards_main_container">
      <div class="busOppor_cards_indiv">
          <img src="Images/businessOpportunity1.jpg" class="busOppor_card_image" alt="">
          <div class="busOppor_label_1st_2nd_para">  
            <div class="busOppor_card_h3_1st_para">
              <h3 class="busOppor_card_h3">Advertising at RIA</h3>
              <p class="busOppor_card_1st_para">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <p class="busOppor_card_2nd_para">Advertising at RIA<span><i class="fa-solid fa-arrow-right"></i></span></p>
          </div>
      </div>
    </a>
  </div>
         
  <div>
    <a href="/advertisting"  class="busOppor_cards_main_container">
      <div class="busOppor_cards_indiv">
          <img src="Images/businessOpportunity1.jpg" class="busOppor_card_image" alt="">
          <div class="busOppor_label_1st_2nd_para">  
            <div class="busOppor_card_h3_1st_para">
              <h3 class="busOppor_card_h3">Advertising at RIA</h3>
              <p class="busOppor_card_1st_para">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <p class="busOppor_card_2nd_para">Advertising at RIA<span><i class="fa-solid fa-arrow-right"></i></span></p>
          </div>
      </div>
    </a>
  </div>

  <div>
    <a href="/advertisting"  class="busOppor_cards_main_container">
      <div class="busOppor_cards_indiv">
          <img src="Images/businessOpportunity2.jpg" class="busOppor_card_image" alt="">
          <div class="busOppor_label_1st_2nd_para">  
            <div class="busOppor_card_h3_1st_para">
              <h3 class="busOppor_card_h3">Advertising at RIA</h3>
              <p class="busOppor_card_1st_para">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <p class="busOppor_card_2nd_para">Advertising at RIA<span><i class="fa-solid fa-arrow-right"></i></span></p>
          </div>
      </div>
    </a>
  </div> 
  
  <div>
    <a href="/advertisting"  class="busOppor_cards_main_container">
       <div class="busOppor_cards_indiv">
          <img src="Images/businessOpportunity2.jpg" class="busOppor_card_image" alt="">
          <div class="busOppor_label_1st_2nd_para">  
            <div class="busOppor_card_h3_1st_para">
              <h3 class="busOppor_card_h3">Advertising at RIA</h3>
              <p class="busOppor_card_1st_para">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <p class="busOppor_card_2nd_para">Advertising at RIA<span><i class="fa-solid fa-arrow-right"></i></span></p>
          </div>
       </div>
    </a>
  </div>

 <div class="">
    <a href=""  class="busOppor_cards_main_container">
      <div class="busOppor_cards_indiv">
         <img src="Images/businessOpportunity3.jpg" class="busOppor_card_image" alt="">
         <div class="busOppor_label_1st_2nd_para">  
           <div class="busOppor_card_h3_1st_para">
             <h3 class="busOppor_card_h3">Advertising at RIA</h3>
             <p class="busOppor_card_1st_para">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <p class="busOppor_card_2nd_para">Advertising at RIA<span><i class="fa-solid fa-arrow-right"></i></span></p>
         </div>

         </div>
    </a>
  </div>

  <div class="">
    <a href=""  class="busOppor_cards_main_container">
      <div class="busOppor_cards_indiv">
        <img src="Images/businessOpportunity3.jpg" class="busOppor_card_image" alt="">

        <div class="busOppor_label_1st_2nd_para">  
           <div class="busOppor_card_h3_1st_para">
             <h3 class="busOppor_card_h3">Advertising at RIA</h3>
             <p class="busOppor_card_1st_para">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
           <p class="busOppor_card_2nd_para">Advertising at RIA<span><i class="fa-solid fa-arrow-right"></i></span></p>
         </div>

      </div>
   </a>
  </div>
  
  </div>
 </div>
</section>

<%- include("partials/footer") %>