<%- include("partials/header") %>
 
<!--BEGAINING of the contact page hero Section--->    
<Section class="contact_hero_section">
  <!--Call to action text-->
      <article class="contact_hero_article">
        <div class="contact_hero_div">
          <h1 id="contact_hero_text">Connect With Us</h1>
        </div>
      </article>
  </section>   
  <!--END of the contact page hero Section----------------------------------------------------------------->    
  
  <!--Home contact starts here------------------->
  <div class="home_contact">
      <div class="home_contact_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_contact_span">&#62;</span> <h2><a href="/contact" class="contact">Contact</a></h2></div>
    </div>
    
  <!--Home contact ends here------------------->
     <!--A scroll to the arrow div starts here-->
     <a href="/contact" id="scroll_arrow">
      <div class="up-arrow">
      <span class="up-arrow-a" >&uparrow; </span>
    </div>
  </a>
    
    <!--A scroll to the arrow div ends here-->
  <section class="airport_contact_sec_one">
      <div class="airport_contact_form_contaner1">
          <div class="airport_contact_sec_label_div">
              <h2 class="airport_contact_sec_label_h2">Contact us</h2>
          </div>
          <article class="contact_page_icon_label_text_article">
      
          <div class="contact_page_icon_label_text_div">
              <div class="contact_page_icon_div">
                  <!--location icon-->
                  <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="contact_page_label_text">
                  <div >
                      <h2>ADDRESS:</h2>
                  </div>
                  <div>
                      <P>198 West 21th Street, Suite 721 New York NY 10016</P>
                  </div>
              </div>
          </div>
          <div class="contact_page_icon_label_text_div">
              <div class="contact_page_icon_div">
                  <!--phone icon-->
                  <i class="fa-solid fa-phone"></i></div>
              <div class="contact_page_label_text">
                  <div>
                      <h2>PHONE:</h2>
                  </div>
                  <div>
                      <p>+231 882244551</p>
                  </div>
              </div>
          </div>
          <div class="contact_page_icon_label_text_div">
              <div class="contact_page_icon_div"> 
               <!--email icon-->
               <i class="fa-solid fa-paper-plane"></i>
              </div>
              <div class="contact_page_label_text">
                  <div>
                      <h2>EMAIL:</h2>
                  </div>
                  <div>
                      <p>riaairport @gmail.com</p>
                  </div>
              </div>
          </div>
  
          <div class="contact_page_icon_label_text_div">
              <div class="contact_page_icon_div">
                <!--website icon-->
                <i class="fa-solid fa-earth-africa"></i>
              </div>
              <div class="contact_page_label_text">
                  <div>
                      <h2>WEBSITE</h2>
                  </div>
                  <div>
                      <P>www.riaairport.com</P>
                  </div>
              </div>
          </div>
      
          </article>
      </div>
      <div class="airport_contact_form_contaner2">
         <img src="Images/Contact us.gif" alt="Contact form illustration"  class="contact_page_image">
      </div>
      
  </section>
      
  <section class="airport_user_info_sec_two">
      <div class="airport_contact_user_input_contaner1">
          <div class="airport_contact_user_input_label_text">
              <div class="airport_contact_user_input_label">
                  <h2>Let's talk about everything!</h2>
              </div>
              <div class="airport_contact_user_input_text">
                  <p>Is it about your ticket,your flight,or current happening at the airport?</p>
              </div>
          </div>
          <div class="icon">
              <img src="Images/Get in touch.gif" alt="get in touch illustration" class="contact_page_image">
           </div>
      </div>
      <div class="airport_contact_user_input_contaner2">
       <form action="" class="contact_form_contact_page">
            <div>
              <input type="text" placeholder="Your name" class="name_input" required>
            </div>
            <div>
              <input type="email" name="" id="" placeholder="Email" class="email_input" required>
            </div>
            <div>
              <input type="text" placeholder="Subject" class="subject_input">
            </div>
            <div>
              <textarea name="" id=""  rows="10" placeholder="Write your message" class="textarea_input" required></textarea>
          </div>
            <div>
              <button type="submit" class="contact_page_submit_btn">Send Message</button>
          </div>
        </form>
      </div>
  </section>          
   
  <!--The map of the airport starts here-->
  <section class="airport_google_map_sec">
  
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15864.736038207186!2d-10.377440026608006!3d6.239462210091046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfa0b3f4d4547a4f%3A0xd9175e3bb2b8c274!2sRoberts%20International%20Airport%20(ROB)!5e0!3m2!1sen!2s!4v1709109591539!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="ria_goolgle_map_direction">
  </iframe>
  
  </section>  
  
  <!--The google map of the airport ends here-->
  
<%- include("partials/footer") %>