<%- include("partials/header") %>


<!--BEGAINING of the flight status page hero Section--->    
<Section class="FAQ_hero_master_container">
  <!--Call to action text-->
      <article class="FAQ__hero_article">
        <div class="FAQ_text_container">
          <h1 id="FAQ_hero_text">Frequently Ask Question</h1>
        </div>
      </article>
   
  </section>   
  
  <!--END of the FAQ page hero Section----------------------------------------------------------------->    
  
  <!--Home FAQ starts here------------------->
  <div class="home_flight_status">
      <div class="home_flight_status_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_flight_span">&#62;</span> <h2><a href="/faqs" class="flight-status">FAQS</a></h2></div>
    </div>
    
  <!--Home FAQ ends here------------------->
  
       <!--A scroll to the arrow div starts here-->
    <a href="/faqs" id="scroll_arrow">
      <div class="up-arrow">
      <span class="up-arrow-a" >&uparrow; </span>
    </div>
  </a>
    
    <!--A scroll to the arrow div ends here-->
  
  <!--------------------FREQUENTLY ASK QUESTION WHITE CONTAINER--------------========--------->
  
  <main class="FAQ_main_container">
    <!--This is the FAQ HERO TEXT AND SEARCH BOX -->
    <section class="faq_section1">
  <div class="faq_text_and_search_container">
          <h2>Frequently Ask Question (FAQs)</h2>
          <form action=""><input type="search" placeholder="Search" class="faq_input" >     <i class="fa-solid fa-magnifying-glass"></i></form>
      </div>
    <!--This is the FAQ  Selection box--> 
      <div class="Top_faq_container">
          <h3>Top FAQS For</h3>
          <form action="" class="top_faq">
              <span>Select</span>
              <img src="arrowdropdown.png" alt="angle-down">
          </form>
      </div>
    </section>  
      
  <section class="faq_section2">
     <!--The question drop down -->
    <div class="question_dropdown_container">
      <button class="question"><i class="fa-solid fa-plus"></i>WHERE CAN I FIND A PARTICULAR AIRLING FLGHT NUMBERS AND STATUS?</button>
      <div class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nostrum impedit aspernatur quaerat aliquam libero, id quae exercitationem totam accusamus delectus est alias at eveniet? Repellendus ab accusamus necessitatibus nemo.</div>
      <button class="question"><i class="fa-solid fa-plus"></i>WHERE CAN I FIND A PARTICULAR AIRLING FLGHT NUMBERS AND STATUS?</button>
      <div class="answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem autem expedita dicta facere perspiciatis id temporibus laborum, deleniti, praesentium veniam sequi tempora! Sapiente optio dolorem odit tenetur minima fugit voluptates.</div>
      <button class="question"><i class="fa-solid fa-plus"></i>WHERE CAN I FIND A PARTICULAR AIRLING FLGHT NUMBERS AND STATUS?</button>
      <div class="answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ducimus ullam sint dolores tempore reiciendis molestias, voluptatum laborum, non facilis necessitatibus laboriosam, in sunt perspiciatis error fugiat accusantium beatae? Odio!</div>
      <button class="question"><i class="fa-solid fa-plus"></i>WHERE CAN I FIND A PARTICULAR AIRLING FLGHT NUMBERS AND STATUS?</button>
      <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aperiam dolor ratione, neque voluptatem corporis assumenda pariatur corrupti ullam optio, saepe obcaecati doloribus error quaerat illo iure maxime aliquam impedit.</div>
      <button class="question"><i class="fa-solid fa-plus"></i>WHERE CAN I FIND A PARTICULAR AIRLING FLGHT NUMBERS AND STATUS?</button>
      <div class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laudantium nostrum, pariatur eveniet ut non quam recusandae, sint illo harum quia ipsam perferendis fuga aliquid ducimus odit vitae sunt ipsum?</div>
    </div>
  </section>
   
  </main>
  
  
<%- include("partials/footer") %>
