<%- include("partials/header") %>


<!--BEGAINING of the flight status page hero Section--->    
<Section class="Airline_Information_hero_section">
  <!--Call to action text-->
      <article class="Airline_Information_hero_article">
        <div class="Airline_Information_hero_div">
          <h1 id="Airline_Information_hero_text">Airline & Destination</h1>
        </div>
      </article>
</section>   

<!--END of the flight status page hero Section----------------------------------------------------------------->    

<!--Home Airline_Information starts here------------------->
<div class="home_Airline_Information">
<div class="home_Airline_Information_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_Airline_Information_span">&#62;</span> <h2><a href="/flight_info" class="Airline_Information">Airline Information</a></h2></div>
</div>

<!--Home Airline Information ends here------------------->
<!--A scroll to the arrow div starts here-->
<a href="/flight_info" id="scroll_arrow">
<div class="up-arrow">
<span class="up-arrow-a" >&uparrow; </span>
</div>
</a>

<!--A scroll to the arrow div ends here-->
<!--The airline serve in Monrovia and table starts here-->
<section class="airline_information_serve_table">
<div class="airline_information_serve">
  <h3 class="airline_information_label">Airlines Serving Robert International Airport</h3>
 
  <p class="airline_information_text">Serveral daily flights comes Monrovia with other capitals of the sub-region and international flight allow passenger traffic between Europe, Middle East and other contients, directly with a connection.</p>
</div>
<div class="airline_information_table_container_outer">
  <div class="airline_information_table_container">
     <div class="table_description_div"><i class="fa-solid fa-phone-volume table_label_icon"></i>
    <p class="table_description">Airlines flying from/to Monrovia Robert airport (updated weekly)</p>
  </div>
  
  <section class="airline_information_table_section">
    <!--The table head starts here-->
    <div class="white img_div_size"><p class="table_head">Airline</p></div>
    <div class="black code_width"><p class="table_head">Code(IATA)</p></div>
    <div class="white code_width"><p class="table_head">Code(ICOA)</p></div>
    <div class="black website_link_width"><p class="table_head">Website</p></div>
    <!--The table head ends here-->

    <!--The table data starts here-->

    <!--The table first row data starts here-->
    <div class="gray img_div_size"><img src="Images/klm-removebg-preview.png" alt="KML logo" class="table-airline-logo-static"></div>
    <div class="gray code_width text-size"><p>KL</p></div>
    <div class="gray code_width text-size"><p>KL</p></div>
    <div class="gray website_link_width"><a href="" class="airlineInformationTableLink">-</a></div>

    <div class="data_white img_div_size"><img src="Images/Kenya-Airways-Logo-removebg-preview.png" alt="Kenya Airways Logo" class="table-airline-logo-static"></div>
    <div class="data_white code_width text-size"><p>KQ</p></div>
    <div class="data_white code_width text-size"><p>KQA</p></div>
    <div class="data_white website_link_width"><a href="#" class="airlineInformationTableLink">https://www.kenya-airway.com/ph/en/</a></div>

    <div class="gray img_div_size"><img src="Images/Brussels_Airlines.svg-removebg-preview.png" alt="Brussels Airlines logo" class="table-airline-logo-static"></div>
    <div class="gray code_width text-size"><p>SN</p></div>
    <div class="gray code_width text-size"><p></p></div>
    <div class="gray website_link_width"><a href="#" class="airlineInformationTableLink">https://www.brusselsairlines.com/en/be/</a></div>

    <div class="data_white img_div_size"><img src="Images/Royal-Air-Maroc-logo-removebg-preview.png" alt="Royal Air Maroc Logo" class="one-large"></div>
    <div class="data_white code_width text-size"><p>AT</p></div>
    <div class="data_white code_width text-size"><p>RAM</p></div>
    <div class="data_white website_link_width"><a href="" class="airlineInformationTableLink">-</a></div>



    <div class="gray img_div_size"><img src="Images/Air_Cote_dIvoire_logo-removebg-preview (2).png" alt="Air Cote dIvoire logo" class="table-airline-logo-static"></div>
    <div class="gray code_width text-size"><p>HF</p></div>
    <div class="gray code_width text-size"><p>VRE</p></div>
    <div class="gray website_link_width"><a href="#" class="airlineInformationTableLink">https://www.aircotedivoire.com/</a></div>


    <!--The table data starts here-->
    </section>

</div>
</div>


</section>
<!--The airline serve in Monrovia and table ends here-->




<!--The destination serve from airport starts here-->
<section class="destination_serve">
<div class="destination_serve">
  <h3 class="destination_serve_label">Destinations serve from our airport</h3>
  <ul >
      <li class="location_icon_text"><span><i class="fa-solid fa-map-location-dot location-icon"></i></span><p class="location_text">Abidjan</p></li>
      <li class="location_icon_text"><span><i class="fa-solid fa-map-location-dot location-icon"></i></span><p class="location_text">Kotoka Airport</p></li>
      <li class="location_icon_text"><span><i class="fa-solid fa-map-location-dot location-icon"></i></span><p class="location_text">Amsterdam Schiphal</p></li>
      <li class="location_icon_text"><span><i class="fa-solid fa-map-location-dot location-icon"></i></span><p class="location_text">Lungi International Airport</p></li>
      <li class="location_icon_text"><span><i class="fa-solid fa-map-location-dot location-icon"></i></span><p class="location_text">Brussels Airport</p></li>
      <li class="location_icon_text"><span><i class="fa-solid fa-map-location-dot location-icon"></i></span><p class="location_text">Mohamed V Airport</p></li>
  </ul>
</div>
</section>
<!--The destination serve from airport ends here-->

  
<%- include("partials/footer") %>
