<%-include("patials/header.ejs") %>

<!--BEGAINING of the flight status page hero Section--->    
<Section class="flight_status_hero_section">
          <div class="flight_status_hero_div">
            <h1 id="flight_status_hero_text">FLIGHT STATUS</h1>
          </div>   
</section>   

<!-- Flight search  -->
<section class="flight_search_section_container container-fluid">
  <div class="flight_search_div1">
          <h2 class="flight_search_label">Flight Search</h2>
          <p class="flight_search_text">Stay Informed of your flight status with real-time updates.</p>
  </div>
  <!--The live info and search bar portion of the flight search section-->
<div class="flight_status_box_shadow">
        <div class="live_flight_n_search_bar">
          <div class="live_flight_paragraph">
              <p>Live Flight Information</p>
          </div>
        
          <form action="" class="flight_status_search_bar_form">
              <input type="text" name="Search" placeholder="Search">
              <i class="fa-solid fa-magnifying-glass flight_search_icon"></i>
          </form>
      </div>

      <!-- Arrival and Departure label  -->
<div class="arrivals_and_departure">
  <div class="inner_arrivals_and_departure">
      <a href="" class="arrivals"><h3 class="arrivals_h3">ARRIVALS</h3></a>
      <a href="" class="departure"><h3 class="departure_h3">DEPARTURE</h3></a>
  </div>
</div>

<!-- Table for arrivals and departure  -->
<table class="table" border="2px">
  <thead>
      <tr>
          <th>Airlines</th>
          <th>Flight</th>
          <th>Origin</th>
          <th>Estimated Arrival Time</th>
          <th>Update</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
    <%flightLib.forEach(flightData => {%>
      <td><%= flightData.airlines %></td>
      <td><%= flightData.flight %></td>
    <%}); %>
  </tbody>
</table> 


</div>



</section>
<%-include("patials/footer.ejs") %>