<%- include("partials/header") %>


<!--BEGAINING OF Call to action Section--->   
<!-- BEGINNING OF Call to Action Section -->
<section class="Call_to_action_section">
  <div class="img_container">
    <img src="Images/bg1.jpg" alt="Background Image" class="background_image">
    <img src="Images/bg2.jpg" alt="Background Image" class="background_image">
    <img src="Images/img4.jpg" alt="Background Image" class="background_image">
    <img src="Images/bg680_n_18757875.webp" alt="Background Image" class="background_image">
  </div>

  <article class="Call_to_action_text_container">
    <div class="landing_text">
      <h1 id="hero_text">Explore Our Best Destination Today</h1>
      <h4 id="second_hero_text">Find the perfect place to take a tour.</h4>
    </div>

    <!-- Find your flight box -->
    <div class="find_flight_raidio_container">
      <form>
        <div class="find_flight_container">
          <h5> Find your Flight</h5>
          <i class="fa-solid fa-angle-down"></i>
        </div>
        
        <ul class="find_ur_flight_drop_down">
          <li><a href="https://medium.com/" target="_blank">Medium Daily</a></li>
          <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap</a></li>
          <li><a href="https://fontawesome.com/">Font Awesome</a></li>
          <li><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">FreeCode Camp</a></li>
        </ul>
      </form>

      <!-- Radio button section -->
      <form action="" class="radio_container">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </form>
    </div>
  </article>
</section>
<!-- END OF Call to Action Section -->

    <!--END OF Call to action Section-=====================================================================================================-->    
    
     <!--A scroll to the arrow div starts here-->
  <a href="/advertisting" id="scroll_arrow">
    <div class="up-arrow">
      <span class="up-arrow-a" >&uparrow; </span>
    </div>
 </a>
  
  <!--A scroll to the arrow div ends here-->

    <!--New website section-->
    <section class="new_website_container">
      <div class="new_web_site_text">
       <h2>New WebSite</h2>
       <p>To help Visitor travel from Robert International Airport</p>
      </div>
   
      <div class="new_website_grid_container" id="newWebsite"> 
       <a href="/about" class="grid">
             <i class="fa-solid fa-mound"></i>
             <p>ABOUT - US</p>
          
           
       </a>
         
          <a href="/newsroom" class="grid g2">
           <i class="fa-solid fa-snowplow"></i>
           <p>NEWS ROOM</p>
         </a>
           <a href="/parking_transport" class="grid">
             <i class="fa-solid fa-car-side"></i>
             <p>PARKING</p>
           </a>
           <a href="/faqs" class="grid">
             <i class="fa-solid fa-question"></i>
             <P>FAQS</P>
           </a>
           <a href="/flight_info" class="grid g5"> 
             <i class="fa-solid fa-plane-departure"></i>
             <P>AIRLINE INFORMATION</P>
           </a>
           <a href="/business_opportities" class="grid">
            <img src="Images/Flying around the world-amico.png"  id="flying_round_world" alt="Business Opportities Img">
             <P>BUSINESS OPPORTUNITY</P>
           </a>
      </div>
   </section>
<!--------END OF New website section--------------------------------------------------------------------------------------------------------------------------------------->

<!--BEGAINING OF  Latest News in Monorovia Section-->

  <section class="lates_news_in_monrovia_master_container">

    <article class="flight_today_container" id="flightToday">

      <div class="flights_today_label">
          <h3 class="flight_today_h3">Flights Today</h3>
      </div>

      <div class="planes_landed">
        <div class="flight_icon"><box-icon name='plane-land' type='solid' color='#ffffff' size="lg"></box-icon></div>
        <div class="flight_description">
          <h3 class="total_number">500</h3>
          <p>Planes Landed</p>
        </div>
      </div>

      <div class="planes_left">
        <div class="flight_icon"><i class="fa-solid fa-plane-departure"></i></div>
        <div class="flight_description">
          <h3 class="total_number">413</h3>
          <p>Planes Departured</p>
        </div>
      </div>

      <div class="planes_in_air">
        <div class="flight_icon"><i class="fa-solid fa-plane"></i></div>
        <div class="flight_description">
          <h3 class="total_number">258</h3>
          <p>Planes In Air</p>
        </div>
      </div>
      
    </article>

    <!--Section 2 of the latest news in monrovia -->

    <section class="latest_news_in_monrovia_container" id="latestNews">
      <div class="latest_news_label_angle">
          <h3 class="latest_news_label_h3">Lastest News in Monrovia</h3>

        <div class="latest_news_angle">
          <div class="left_angle_div" onclick="pushSlide(-1)"> <i class="fa-solid fa-angle-left"></i></div>
          <div class="right_angle_div"  onclick="pushSlide(1)"> <i class="fa-solid fa-angle-right"></i></div>
        </div>

      </div>
         <section class="all_latest_news">

           <div class="news_slider">
               <div class="latest_news_card latest_news_card1">
             <img src="Images/soilder.jpg" alt="The first news" class="card_1_img">
              <div class="card_text">
                <h3 class="h3_date">Feb.11, 2018</h3>
                <h3 class="h3_news_heading">Liberia's New Airport Terminal Project Inspires on-the-job Training For Liberians</h3>
              </div>
            </div>
            <div class="latest_news_card latest_news_card2">
              <img src="Images/bg1.jpg" alt="The second news" class="card_2_img">
              <div class="card_text">
                <h3 class="h3_date">Feb.11, 2018</h3>
                <h3 class="h3_news_heading">Liberia's New Airport Terminal Project Inspires on-the-job Training For Liberians</h3>
              </div>
          </div>
 </section>

 <section class="all_latest_news">
  <!--The secont News slider Container-->
  <div class="news_slider">
  <div class="latest_news_card latest_news_card1">
  <img src="Images/img5.jpg" alt="The first news" class="card_1_img">
   <div class="card_text">
     <h3 class="h3_date">Feb.11, 2018</h3>
     <h3 class="h3_news_heading">Liberia's New Airport Terminal Project Inspires on-the-job Training For Liberians</h3>
   </div>
 </div>
 <div class="latest_news_card latest_news_card2">
   <img src="Images/farm.jpg" alt="The second news" class="card_2_img">
   <div class="card_text">
     <h3 class="h3_date">Feb.11, 2018</h3>
     <h3 class="h3_news_heading">Liberia's New Airport Terminal Project Inspires on-the-job Training For Liberians</h3>
   </div>
</div>
</section>
<div class="read_more_stories"><a href="/newsroom" class="read_more_stories_link"><h3>READ MORE STORIES</h3></a></div>
 </section>

  </section>

<!--END OF  Latest News in Monorovia Section-------------------------------------------------------------------------------------------------------->
<section class="Our_Airlines" id="ourAirLines">
  <h3>Our Airlines</h3>
  <div class="Our_Airlines_logo_1">
    <img src="Images/Air_Cote_dIvoire_logo-removebg-preview (2).png" alt="Cot" id="coteLogo" style="--index: 1">
    <img src="Images/Kenya-Airways-Logo-removebg-preview.png" alt="" id="kenyaLogo" style="--index: 2">
    
  </div>
  <div class="Our_Airlines_logo_2">
 <img src="Images/klm-removebg-preview.png" alt="" id="klmLogo" style="--index: 3">
 <img src="Images/Brussels_Airlines.svg-removebg-preview.png" alt="" id="brusselsLogo" style="--index: 4">
 <img src="Images/Royal-Air-Maroc-logo-removebg-preview.png" alt="" id="RoyalLogo" style="--index: 5">
</div>
</section>

<!--This is the subscribe to the newsletter section-->
<section class="subscribe_to_newsletter_container" id="subscribe_to_newsletter_container">
  <div class="subscribe_to_newsletter_div">
      <h2 class="subscribe_label">SUBSCRIBE TO OUR NEWSLETTER</h2>
      <p class="subscribe_paragraph">The quick brown fox jumps over the lazy dog, and that line is the only line that contains all the alphabet letters.</p>
  </div>

  <form id="subscribeForm" class="subscribe_form">
      <input type="email" name="email" id="subscriberName" placeholder="EMAIL ADDRESS" required />
      <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
  </form>

 <div class="alert alert-primary alert-dismissible fade show d-none">
    <strong>Subscribed!</strong>  Your email has been sent successfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show d-none">
  <strong>Error!</strong> A problem has been occurred while submitting your data.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
</section>


<%- include("partials/footer") %>