<%- include("partials/header") %>

<!--BEGAINING of the flight status page hero Section--->    
<Section class="FAQ_hero_master_container">
  <!--Call to action text-->
      <article class="FAQ__hero_article">
        <div class="FAQ_text_container">
          <h1 id="FAQ_hero_text">NewsRoom</h1>
        </div>
      </article>
   
  </section>    
  
  <!--END of the FAQ page hero Section----------------------------------------------------------------->    
  
  <!--Home FAQ starts here------------------->
  <div class="home_flight_status">
      <div class="home_flight_status_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_flight_span">&#62;</span> <h2><a href="/newsroom" class="flight-status">NewsRoom</a></h2></div>
    </div>
    
  <!--Home FAQ ends here------------------->
       <!--A scroll to the arrow div starts here-->
    <a href="/newsroom" id="scroll_arrow">
      <div class="up-arrow">
      <span class="up-arrow-a" >&uparrow; </span>
    </div>
  </a>
    
    <!--A scroll to the arrow div ends here-->
   <!--THE NEWS ROOM STARTS HERE--___--------Done by Alvin-->
  
  <main class="newsroom_master_container">
  
      <section class="newsroom_section1">
          <h2 class="newsroom_text">Latest News & Update</h2>
  
          <article class="newsroom_sect1_parent_article_container">
             <div><img src="Images/soilder.jpg" alt="solder"></div> 
              <div class="newsroom_sect1_article1_text_container">
                  <h3>'Shoot to kill' - Liberia Airport Authority Order Issures Ferocious Order To Corb Theft</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quam harum laborum laboriosam ad quasi. Laborum, odit doloribus porro, consequuntur dignissimo.</p>
                  <h3 id="read_more" >Read More >></h3>
              </div>
          </article>
  
      </section>
        
  
      
      <section class="newsroom_section2">
        <h2 class="more_releases_hero_text">More News Releases</h2>
        <div class="article_container">
          <article class="card_container">
                    <div class="releases_card">
          <img src="Images/farm.jpg" id="releases_img" alt="...">
          <div class="card-body">
            <h3 class="card-title">Liberia's New Airport Terminal Project Inspires On-the-Job Training for Liberians Lorem ipsum dolor.</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.Lorem eveniet Porro eum eveniet unde quisquam consectetur id doloribus quibusdam perferendis ab.</p>
            <a href="#" class="releases_btn"><strong>READ MORE</strong></a>
          </div> 
        </div>
  
        <div class="releases_card">
          <img src="Images/farm.jpg" id="releases_img" alt="...">
          <div class="card-body">
            <h3 class="card-title">Liberia's New Airport Terminal Project Inspires On-the-Job Training for Liberians Lorem ipsum dolor.</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.Lorem eveniet Porro eum eveniet unde quisquam consectetur id doloribus quibusdam perferendis ab.</p>          
      
            <a href="#" class="releases_btn"><strong>READ MORE</strong></a>
          </div> 
        </div>
          </article>
  
          <article class="article2_more_stories_grid_container">
            <div class="news_room_stories"><h2 class="more_stories">More Stories</h2></div>
            <div class="news_room_stories">
              <img src="Images/img5.jpg" alt="" id="img"> 
              <div class="more_stories_text">
                <h4 class="date1">Feb. 11 2016</h4>
                <br>
                <p>Liberia's New Airport Terminal Project Inspires On-the-Job</p>
              </div>
            </div>
  
            <div class="news_room_stories">
              <img src="Images/img5.jpg" alt="">
              <div class="more_stories_text">
                <h4 class="date1">Feb. 11 2016</h4>
                <br>
                <p>Liberia's New Airport Terminal Project Inspires On-the-Job</p>
              </div>
            </div>
  
            <div class="news_room_stories">
              <img src="Images/img5.jpg" alt="">
              <div class="more_stories_text">
                <h4 class="date1">Feb. 11 2016</h4>
                <br>
                <p>Liberia's New Airport Terminal Project Inspires On-the-Job</p>
              </div>
            </div>
  
            <div class="news_room_stories">
              <img src="Images/img5.jpg" alt="">
              <div class="more_stories_text">
                <h4 class="date1">Feb. 11 2016</h4>
                <br>
                <p>Liberia's New Airport Terminal Project Inspires On-the-Job</p>
              </div>
            </div>
          </article>
      
        </div>
    
      </section>
       
  </main>
  
   <!--THE NEWS ROOM ENDS HERE--___--------Done by Alvin-->
  
  
<%- include("partials/footer") %>
