<%- include("partials/header") %>

   <!--BEGAINING of the Parking and transport page hero Section---> 

<Section class="business_opportunity_hero_section">
   <!--Call to action text-->
  <article class="business_opportunity_hero_article">
    <div class="business_opportunity_hero_div">
      <h1 id="business_opportunity_hero_text">Maps</h1>
    </div>
  </article>        
</section>  

  <!--END of the Parking and transport page hero Section-------->   

  <!--Home Parking and transport starts here--------->
<div class="home_flight_status">
    <div class="home_flight_status_inner">
      <h2>
        <a href="/" class="home">Home</a>
      </h2>
      <span class="home_flight_status_span">&#62;</span>
      <h2>
        <a href="/parking_transport" class="flight_status">Parking & Transport</a>
      </h2>
    </div>
</div>  
  <!--Home Parking and transport ends here----------->
      
  <!--A scroll to the arrow div starts here-->
<a href="/parking_transport" id="scroll_arrow">
  <div class="up-arrow">
   <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
 <!--A scroll to the arrow div ends here-->

 <section class="body_sec">
  <div class="Parking_sec">
  <h2 class="Parking_sec_h2">Parking</h2>
  <p class="Parking_sec_p1">A parking is available for travelers. It is located just outside the terminal.
    Parking fee is LD$ 50 / 30 minutes. The droff off fee in front of the terminal
    is L$ 50. Please acquire ticket upon entry
  </p><br>
  <p class="Parking_sec_p2">Due to increase in the accessing to the airport by commercial trucks for business, the
    airport management has institute fees for cmmercial trucks (4-10 Lyres) USS25.00 for single access, truck
    (above 10 tyres) US$50.00 for single access equipmentUS$50.00 for single access.
  </p>
</div>
<div class="Taxis_sec">
<h2 class="Taxis_sec_h2">Taxis</h2>
<p class="Taxis_sec_p">Taxis are available as all flight arrivals in Monrovia International Airport. They
  are recognizable by their yellow color. They do not have on your destination. Any ride must be negotiated with
  the driver before or lering the  vehicle. However count between US$10 and US$20 for a drive between the airport
  and downtown Monrovia.
</p>
</div>
<div class="Shuttles_Buses_sec">
  <h2 class="Shuttles_Buses_sec_h2">Shuttles & Buses</h2>
  <p class="Shuttles_Buses_sec_p">Taxis are available as all flight arrivals in Monrovia International Airport. They
    are recognizable by their yellow color. They do not have on your destination. Any ride must be negotiated with
    the driver before or lering the  vehicle. However count between US$10 and US$20 for a drive between the airport
    and downtown Monrovia.
  </p>
  </div>
  <div class="Car_Rental_companies_sec">
    <h2 class="Car_Rental_companies_sec_h2">Car Rental Companies</h2>
    <p class="Car_Rental_companies_sec_p">Taxis are available as all flight arrivals in Monrovia International Airport. They
      are recognizable by their yellow color. They do not have on your destination. Any ride must be negotiated with
      the driver before or lering the  vehicle. However count between US$10 and US$20 for a drive between the airport
      and downtown Monrovia.
    </p>
    </div>
  <div class="VIP_sec">
    <h2 class="VIP_sec_h2">VIP service</h2>
    <p class="VIP_sec_p">Taxis are available as all flight arrivals in Monrovia International Airport. They
      are recognizable by their yellow color. They do not have on your destination. Any ride must be negotiated with
      the driver before or lering the  vehicle. However count between US$10 and US$20 for a drive between the airport
      and downtown Monrovia.
    </p>
  </div>
</section>

<%- include("partials/footer") %>