<%- include("partials/header") %>

<!--The Destination Call to Action Section-->
<main id="destination_main_container">
  <section class="destination_hero_section">

    <article class="destination_hero_section_text_container">
      <h1 class="destination_call_to_action">Call to <span id="destination_em">Action</span> Hero Text</h1>
      <p>Lorem ipsum dolor sit amet consectetur qui iusto exercitatio isuse. <br> 
         adipisicing elit. Tempore nostrum omnis qui iusto exercitatio dug. <br>
        eligendi! Ducimus qui iusto exercitatio? ducimus quid eoid tioeo</p>
        <p id="insperation">"Paragraph of <span id="insp">Insperation</span>"</p>
    </article>

    <div class="image_container">
      <img src="Images/ROB_last_routes.jpg" alt="" class="destination_map_image">
    </div>
  </section>
     <!--A scroll to the arrow div starts here-->
<a href="/destination" id="scroll_arrow">
  <div class="up-arrow">
  <span class="up-arrow-a" >&uparrow; </span>
</div>
</a>

<!--A scroll to the arrow div ends here-->
  <!--Section II-->

  <section id="our_trending_destination_container">
      <div class="card" style="width: 100%;">
        <img src="Images/Luggage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ghana</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a target="_blank" href="https://www.viator.com/Ghana/d4439-ttd?m=28353&supag=119539843896&supca=12519862699&supsc=kwd-305847203946&supai=505272885991&supdv=c&supnt=g&suplp=9067733&supli=2288&supti=kwd-305847203946&tsem=true&supci=kwd-305847203946&supap1=&supap2=&supfi=&gad_source=1&gclid=CjwKCAjwkuqvBhAQEiwA65XxQOUnixhV1SBoocSPIJxHmX0JUsphgSxb1bkNpsXX_KCmhuCT3q6M6xoC2HwQAvD_BwE" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 100%;">
        <img src="Images/toilet.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Benju</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.rjtravelagency.com/tours-in-gambia/" class="btn btn-primary" target="_blank">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 100%;">
        <img src="Images/john_beach.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Liege</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://www.viator.com/Belgium/d45-ttd?m=28353&supag=117916246694&supca=12517297154&supsc=kwd-20657663&supai=505121226432&supdv=c&supnt=g&suplp=9067733&supli=1001394&supti=kwd-20657663&tsem=true&supci=kwd-20657663&supap1=&supap2=&supfi=&gad_source=1&gclid=CjwKCAjwkuqvBhAQEiwA65XxQLydFXFWujqK_YRCrrMpGTiqmimrRhGIjssrc-F_4kR2JJPekZDwJBoCjuYQAvD_BwE" class="btn btn-primary" target="_blank">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 100%;">
      <img src="Images/Lounge 1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Conakry</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://www.viator.com/Guinea/d22160-ttd" class="btn btn-primary" target="_blank">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 100%;">
      <img src="Images/hotel-pavilion.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nigeria</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://www.viator.com/Nigeria/d22316-ttd" class="btn btn-primary" target="_blank">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 100%;">
      <img src="Images/gas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Abidjan</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://www.viator.com/searchResults/all?text=ivory%20coast" class="btn btn-primary" target="_blank">Go somewhere</a>
      </div>
    </div>
  </section>

</main>
  
<%- include("partials/footer") %>
