<%- include("partials/header") %>

   <!--BEGAINING of the Parking and transport page hero Section---> 

<Section class="business_opportunity_hero_section">
   <!--Call to action text-->
  <article class="business_opportunity_hero_article">
    <div class="business_opportunity_hero_div">
      <h1 id="business_opportunity_hero_text">Maps</h1>
    </div>
  </article>        
</section>  

  <!--END of the Parking and transport page hero Section-------->   

  <!--Home Parking and transport starts here--------->
<div class="home_flight_status">
    <div class="home_flight_status_inner">
      <h2>
        <a href="/" class="home">Home</a>
      </h2>
      <span class="home_flight_status_span">&#62;</span>
      <h2>
        <a href="/parking_transport" class="flight_status">Parking & Transport</a>
      </h2>
    </div>
</div>  
  <!--Home Parking and transport ends here----------->
      
  <!--A scroll to the arrow div starts here-->
<a href="/parking_transport" id="scroll_arrow">
  <div class="up-arrow">
   <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
 <!--A scroll to the arrow div ends here-->

 <section class="body_sec">

  <% prakT_content.forEach(function(item) { %>
  <div class="Parking_sec">
  <h2 class="Parking_sec_h2"><%= item.pt_label ? item.pt_label : 'No Label Provided' %></h2>
  <p class="Parking_sec_p1"><%= item.pt_content ? item.pt_content : 'No Content Available' %></p>
  </div>
  <% }) %>

</section>

<%- include("partials/footer") %>