<%- include("partials/header") %>

<!--Begaining of the Privacy Policy Page-->

 <!--A scroll to the arrow div starts here-->
 <a href="/privacy_cookies" id="scroll_arrow">
  <div class="up-arrow">
  <span class="up-arrow-a" >&uparrow; </span>
</div>
</a>

<!--A scroll to the arrow div ends here-->

<main id="privacy_policy_main_container">
  <section class="privacy_policy_overview">
    <h2>Privacy Policy</h2>
    <br>
    <p>Roberts International Airport Company (hereinafter: “RIA Airport”) respects your privacy and protects and Processes your Personal Data in accordance with Regulation 2016/679 on the protection of individuals with regard to the processing of personal data and on the free movement of such data (the General Data Protection Regulation, also known as ‘GDPR’) and the Belgian Act of 30 July 2018 on the protection of individuals with regard to the processing of personal data (Framework Act).</p>
    <br>
    <p>In our <a href="#">Privacy Policy</a>, you will find important and relevant information with regard to the Processing of your Personal Data by Brussels Airport. This information will provide you, amongst others, with answers to the following questions: </p>
    <br>
    <ul>
      <li><span>When does this privacy policy apply?</span></li>
      <li><span> Who is responsible for your Personal Data and how can you contact us?</span></li>
      <li><span>What Personal Data do we Process and for which Purpose(s)?</span></li>
      <li><span>How long do we retain your Personal Data?</span></li>
      <li><span>Who has access to your Personal Data and how is your Personal Data protected when transferred outside the EEA?</span></li>
      <li><span>How do we protect your Personal Data?</span></li>
      <li><span>What are your rights in relation to your Personal Data and how can you exercise these rights?</span></li>
    </ul>
    <br>
    <p>In case of further questions, you can always contact our Data Protection Officer by post: Brussels Airport Company NV/SA, attn. the Data Protection Officer, Boulevard Auguste Reyers 80, B-1030 Brussels, or by email: <a href="mailto:">robertinternational@gmail.com</a></p>
    <br>
    <span>Last Updated: March 2024</span>
  </section>
</main>

<!--Ending of the Privacy Policy Page main Section-->
  
<%- include("partials/footer") %>
