<%- include("partials/header") %>
    <section class="business_opportunity_hero_section">
      <!--Call to action text-->
        <article class="business_opportunity_hero_article">
            <div class="business_opportunity_hero_div">
               <h1 id="business_opportunity_hero_text">See More Hotels Near RIA</h1>
           </div>
         </article>
    </section>         
  <!--Home Parking------------------->
<div class="home_parking">
    <div class="home_inner_div">
      <h2>
        <a href="/" class="home">Home</a>
      </h2>
      <span>&#62;</span>
      <h2>
        <a href="/parking_transport"></a>
      </h2>
    </div>
</div>

   <!--A scroll to the arrow div starts here-->
   <a href="/see_more" id="scroll_arrow">
    <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
  
  <!--A scroll to the arrow div ends here-->

<!---------------------boxes------------>
<div class="h2_content"><h2>PICK YOUR CHIOCE</h2></div>

<section class="grey_line2_container">
    <div class="grey_line2">
        <div class="box2">
          <img src="Images/soorya-beach-resorts.jpg" alt="">
          <div class="box_image2">
              <h3>Soorya Beach</h3>
              <p>Roberts International Airport 1000 Harbel, Liberia 215-492-9000</p>
              <button><a href="https://www.booking.com">BOOK A PLACE</a></button>
          </div>
        </div>
      </div>


      <div class="grey_line2">
        <div class="box2">
          <img src="Images/hotel-pavilion.jpg" alt="">
          <div class="box_image2">
              <h3>Golden Key</h3>
              <p>Roberts International Airport 1000 Harbel, Liberia 215-492-9000</p>
              <button><a href="https://www.booking.com">BOOK A PLACE</a></button>
          </div>
        </div>
      </div>
      
</section>
  
<%- include("partials/footer") %>
