<%- include("partials/header") %>

<!--Services Markup starts here-->
<section class="services_master_container">

  <div class="services_hero_container">
    <h1>Enhancing <span>Passengers</span> Travel <span>Experience </span> 24/7
      </h1>
  </div>

  <div class="services_gif_and_content_container">

   <div class="looping_image_container"><img src="Images/Services-Images/Service 24_7-Looping.gif" alt="Services 247"></div> 

    <div class="services_content_container">
      <h2>Our Services</h2>
      <div class="services_content_list" data-spy="scroll" data-target=".services_list" data-offset="0px">
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section1">Internet Connectivity</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section2">Gas Station</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section3">VIP Area</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section4">Parking Area</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section5">Toilet</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section6">Passengers Reception</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section7">Money Exchange</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section8">Bar & Restuarant</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i> <a href="#section9">Luggae Parking</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section10">Charging Stations</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section11">Call Center</a></div>
         <div class="services_list"><i class="fa-solid fa-angles-right"></i><a href="#section12">Seurity and Police</a></div>
       </div>
    </div>
  </div>
</div>
</section>

     <!--A scroll to the arrow div starts here-->
  <a href="/services" id="scroll_arrow">
    <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
  
  <!--A scroll to the arrow div ends here-->

<!--The Scroll spy sections-->
<section class="services_details">
  <div id="section1">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/Services-Images/internet_conectivity_image.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"  id="our">Internet Conectivity</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section2">
      <div class="card mb-4" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="Images/gas.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gas Station</h5>
              <p class="card-text">
                In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div id="section3">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/Lounge 1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">VIP Area</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section4">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/parking.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Parking Area</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section5">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/toilet.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Toilet</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section6">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/Passenger.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Passenger Reception</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section7">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/money.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Money Exchange</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section8">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/bar.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Bar & Resturant</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div  id="section9">     <div class="card mb-4" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="Images/Luggage.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Luggae Parking</h5>
          <p class="card-text">
            In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div></div>

  <div  id="section10">     <div class="card mb-4" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="Images/Charge.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Charging Stations</h5>
          <p class="card-text">
            In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div></div>

  <div id="section11">     <div class="card mb-4" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="Images/callcenter.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Call Center</h5>
          <p class="card-text">
            In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div></div>

  <div id="section12">
    <div class="card mb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Images/Security.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Security and Police</h5>
            <p class="card-text">
              In Liberia, numerous service providers provide SIM cards and 3G USB sticks without the need for subscriptions, granting quick and affordable internet access on individual gadgets. cards can be obtained from telecommunications outlets located in different sections of the airport terminals. Additionally, the airport provides multiple Wi-Fi access points, particularly within its VIP lounges.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<%- include("partials/footer") %>
