<%- include("patials/header") %>

     <!--BEGAINING of the flight status page hero Section--->    
     <Section class="flight_status_hero_section">
      <!--Call to action text-->
          <article class="flight_status_hero_article">
            <div class="flight_status_hero_div">
              <h1 id="flight_status_hero_text">More History</h1>
            </div>
          </article>
       
      </section>   
      
      <!--END of the flight status page hero Section----------------------------------------------------------------->    
      
      <!--Home flight Status starts here------------------->
      <div class="home_flight_status">
          <div class="home_flight_status_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_flight_span">&#62;</span> <h2><a href="/parking_transport">Visit Monorovia</a></h2></div>
        </div>
        
      <!--Home flight Status ends here------------------->
     <!--A scroll to the arrow div starts here-->
     <a href="/show_more" id="scroll_arrow">
      <div class="up-arrow">
      <span class="up-arrow-a" >&uparrow; </span>
    </div>
    </a>
    
    <!--A scroll to the arrow div ends here-->
    <!---Body section------------------------------>
    <section class="liberia_content">
      <div class="liberia_p_content">
        <h2>Early years</h2>
      <p>
        In 1942, Liberia signed a Defense Pact with the United States. This commenced a period of strategic
         road building and other construction related to US military interests in checking the expansion of 
         the Axis powers. The airport was originally built by the U.S. government as an Air Force base 
         as part of these activities. The runway was built long enough for B-47 Stratojet bombers to
          land for refueling, giving Liberia what was for many years the longest runway in Africa
          .[6] U.S. President Franklin D. Roosevelt had lunch with President Edwin J. Barclay at Roberts 
          Field during his visit to Liberia in January 1943.
        From 1943 to the end of World War II in 1945, Roberts Field Airport, as it was then known, 
        served as an alternative base for a contingent of 26 Squadron SAAF which flew Vickers Wellington 
        bombers on anti-submarine (U-Boat) and convoy escort patrols over the Atlantic.[7] 
        Their main base was at Takoradi, in the Gold Coast.</p>
    
    
        <p>A number of European airlines also served the airport from the mid-1960s to the mid-1980s, 
          including British Caledonian Airways with Boeing 707s, KLM Royal Dutch Airlines with Douglas 
          DC-8s and Sabena, Swissair and UTA with these three air carriers all operating McDonnell 
          Douglas DC-10s into Robertsfield.[11] Scandinavian Airline System also served Monrovia, 
          from Copenhagen. In the mid-1970s this service consisted of a weekly flight via Düsseldorf 
          and Madrid and a second weekly flight via Zürich, then onward to South America: Rio de Janeiro, 
          Montevideo, and Santiago de Chile.[12]
          Similarly, VARIG employed RIA as a stop on its flights between Brazil and Europe, 
          which began in the mid-1960s and lasted at least until the mid-1970s, with various routings 
          including Rio de Janeiro-Monrovia-Rome and Rio-Monrovia-Madrid-Rome.[13] VARIG's Flight between Rome 
          and Rio crashed at Monrovia in March 1967, and remains the worst aviation accident in Liberia to this day.
          As with Pan Am, several African flag carriers utilized Robertsfield as a waystation on transatlantic routes. As early as 1966, Nigeria Airways began a codeshare cooperation on Pan Am's flights to New York-JFK from Lagos via Monrovia,[14] and in later decades Monrovia remained a stop on its weekly services to New York, at most times utilizing its own McDonnell Douglas DC-10. This also included for a time a weekly Monrovia-Port of Spain-Miami flight.[15] Until 1983, Air Afrique's DC-10s also stopped at Robertsfield on that airline's Abidjan-Monrovia-Dakar-New York services.[16] In April 1988, Zambia Airways commenced service from Lusaka 
          to New York via Monrovia using a DC-10.[17][18][19]</p>
         
          <h2>Facility upgrade and expansion</h2>
          <p>
            New Terminal Under Construction
            Business Class Lounge at the new international terminal
            Baggage claim area of the new international terminal
            Robertsfield's small, single-story terminals, in use since the end of the Civil War, 
            were often overcrowded and did not conform to modern aviation standards, nor meet with the
             requirements set by the ICAO. In addition, the poor condition of RIA's single runway had been
              recognized as inadequate since at least 2012, when an Air France flight from Paris suffered 
              significant damage to its landing gear, brakes and hydraulic systems during an arrival on the 
              patched and potholed asphalt, an incident which cost as much as half a million dollars to the 
              airline's plane and was cited as a contributing factor to the airline's decision to end service to Liberia
               .[42]
            The renovation project launched in 2018 completely overhauled nearly every aspect of the
             airport to meet international civil aviation regulations and allow for expanded passenger
              and cargo operations. The previous 57,000-square-metre (610,000 sq ft) tarmac apron was expanded to 
              85,000 square metres (910,000 sq ft). New car parking facilities and access roads were added to the 
              landside area, while water supply sewage treatment, electrical and communication systems were also upgraded, 
              adding new fire-fighting equipment and other safety systems, as well as mobile equipment including forklifts, 
              ambulances, conveyor belt loaders,
             in addition to passenger stairs and buses for remote stand deplaning.[43]</p>
             </div>
             <div class="liberia_content_img">
    <img src="Images/download.jpeg" alt="">
    <img src="Images/images.jpeg" alt="">
    </div>
    </section>

<%- include("patials/footer") %>
