<%- include("partials/header") %>

 <!--The things to know image slider-->
  <!--Sliders 1-->
  <section id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="country_visa"><h1>Entering the Country and Visa</h1></div>
        <img src="Images/bg2.jpg" class="d-block w-100" alt="...">
        
      </div>

<!--Sliders 2-->
      <div class="carousel-item">
        <div class="country_visa"><h1>Traveling With Child</h1></div>
        <img src="Images/B.Palace.jpg" class="d-block w-100" alt="...">
   
      </div>

<!--Sliders 3-->
      <div class="carousel-item">
        <div class="country_visa"><h1>Pregnant Wowmen</h1></div>
        <img src="Images/images.jpeg" class="d-block w-100"  alt="...">
        
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>


  <!--END of the Things to know hero image slider Section----------------------------------------------------------------->    
  <div class="home_contact">
    <div class="home_contact_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_contact_span">&#62;</span> <h2><a href="/thingsto_know" class="contact">Things To know</a></h2></div>
  </div>
  <!--Home contact starts here------------------->
     <!--A scroll to the arrow div starts here-->
<a href="/thingsto_know" id="scroll_arrow">
  <div class="up-arrow">
  <span class="up-arrow-a" >&uparrow; </span>
</div>
</a>

<!--A scroll to the arrow div ends here-->

<!--Thing To Know Section===============================================================================-->
<section class="things_to_know_master_section">
  <h2>Procedure and Pritical Information</h2>
  <article class="things_card_container">
    <!--Content writing into the thing card-->

     <div class="things_card things_card1">
        <div class="things_image_container1"><img src="Images/bg2.jpg" alt=""></div>
        <div class="things_content_container1">
            <div class="things_title"><h3>Time and Deadlines</h3></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt non exercitationem accusamus, praesentium voluptas error? Possimus officia cupiditate sequi dignissimos illum, ea adipisci corrupti. Aliquam nam voluptas repellat excepturi!</p>
            <button  type="button" class="btn btn-primary">See More</button>
        </div>
     </div>


     <div class="things_card2 things_card">
      <div class="things_image_container2"><img src="Images/bg2.jpg" alt=""></div>
      <div class="things_content_container2">
          <div class="things_title"><h3>Internet Connectivity</h3></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt non exercitationem accusamus, praesentium voluptas error? Possimus officia cupiditate sequi dignissimos illum, ea adipisci corrupti. Aliquam nam voluptas repellat excepturi!</p>
          <button  type="button" class="btn btn-primary things_btn2">See More</button>
      </div>
     </div>

     <div class="things_card things_card3">
      <div class="things_image_container3"><img src="Images/bg2.jpg" alt=""></div>
      <div class="things_content_container3">
          <div class="things_title"><h3>Logguage</h3></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt non exercitationem accusamus, praesentium voluptas error? Possimus officia cupiditate sequi dignissimos illum, ea adipisci corrupti. Aliquam nam voluptas repellat excepturi!</p>
          <button  type="button" class="btn btn-primary things_btn3">See More</button>
      </div>
     </div>


     <div class="things_card things_card4">
      <div class="things_image_container4"><img src="Images/bg2.jpg" alt=""></div>
      <div class="things_content_container4">
          <div class="things_title"><h3>Pregnant Wowman</h3></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt non exercitationem accusamus, praesentium voluptas error? Possimus officia cupiditate sequi dignissimos illum, ea adipisci corrupti. Aliquam nam voluptas repellat excepturi!</p>
          <button  type="button" class="btn btn-primary things_btn4">See More</button>
      </div>
     </div>

     <div class="things_card things_card5">
      <!--1-->
      <div class="things_image_container5"><img src="Images/bg2.jpg" alt=""></div>
      <div class="things_content_container5">
          <div class="things_title"><h3>Drugs Awarnes</h3></div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, perspiciatis corrupti. Modi a, vel voluptatum adipisci sunt animi veritatis deserunt sint accusantium inventore commodi amet magni earum sed est atque!
          At, beatae! Distinctio, aliquid quasi debitis, hic ab illo iste cupiditate excepturi explicabo eos iusto incidunt error? Deleniti, a. Aut corporis rerum earum recusandae! Tempora vel sit dolor temporibus praesentium.</p>
          
      </div>
          <span>Last updated March 2024</span>
     </div>


     <div class="things_card things_card6">
      <div class="things_image_container6"><img src="Images/bg2.jpg" alt=""></div>
      <div class="things_content_container6">
          <div class="things_title"><h3>Baggage</h3></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt non exercitationem accusamus, praesentium voluptas error? Possimus officia cupiditate sequi dignissimos illum, ea adipisci corrupti. Aliquam nam voluptas repellat excepturi!</p>
          <button  type="button" class="btn btn-primary things_btn6">See More</button>
      </div>
     </div>


     <div class="things_card things_card7">
      <div class="things_image_container7"><img src="Images/bg2.jpg" alt=""></div>
      <div class="things_content_container7">
          <div class="things_title"><h3>Tickecting</h3></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt non exercitationem accusamus, praesentium voluptas error? Possimus officia cupiditate sequi dignissimos illum, ea adipisci corrupti. Aliquam nam voluptas repellat excepturi!</p>
          <button  type="button" class="btn btn-primary things_btn7">See More</button>
      </div>
     </div>
  </article>

</section>
  
<%- include("partials/footer") %>
