<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Monrovia</title>
</head>
<body>
    <h1>Meet All the latest Hotels around monrovia</h1>
    <% hotels.forEach(hotel => {%>
        <h2><%= hotel.hotel_name %></h2>
  <%  }); %>
</body>
</html>