/* ------GENERAL-------------------------------------------------------------------- */
:root {
    scroll-behavior: smooth;
  }
  
  
  
  a {
    color: #4154f1;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }

  :root {
    --herobg: #0000008f;
    --red: #D21312;
    --blue: #070A52;
    --white: #ffffff;
    --black: #000000;
    --gray:  rgb(247, 245, 245);
    font-size: 16px;
    --poppin: 'Poppins', sans-serif;
    --grayfortext: #7b7b7bc0;
    --roboto: "Roboto", sans-serif;
}

  /* END GENERAL------------------------------------------------------------------------- */


  /* HEADER ================================================================================= */
  header{
    height: 8rem;
    max-height: max-content;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99; 
    display: flex;
    justify-content: space-between;
    align-items: center;
 
  }

  /* --------------------*
  Logo Container
/* ----------------------*/ 
.logo_div{
    width: 50%;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 0 800%, 100% 0);  
}
.logo{
    height: 100%;
    width: 100%;
    

}

  /* --------------------*
  SEARCH BAR AND HAND BURGER MENU
/* ----------------------*/

.search_handburger_email_contact_container{
  width: 75%;

  
}

.search_bar_form{
  width: 80%;
}
.header-input{
    width: 100%;
}


.fa-magnifying-glass{
    position: relative;
    right: 2.5rem;
}

/*==========================================================================
ELEMENTS FOR LARGER DEVICE THAT ARE NOT DISPLAYED ON SMALL AND MEDIUM DEVICES
==============================================================================
 */
.email_contact_container{
  display: none !important;
}

/*================== 
HAND BURGER MENU
/*==================  */

.hand_burger_menu{
    font-size: 2rem;

} 
/* ==============================================
FLAGE CONTAINER TO DISPLAY ON LARGER SCREEEN
================================================= */
.flag_container{
  padding-top: .7rem;
  display: flex;
  gap: 1.2rem;
  display: none;
}

.Liberia_flag_icon{
  width: 3.125rem;
  height: 1.875rem;
}

/*------------------------
 NAV DROPDOWN
 ------------------------- */
 .nav_mobile li{
  margin-bottom: 1.5rem; 
  list-style: none;
 }
 .nav_mobile li a{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(38, 35, 35);
 
 }


 /* Navigation links */
/*KEYFRAMES ANIMATION ENDS*********************************************/
/* .dropdown{
    position: absolute;
    top: 3.1rem;
    width: 11rem;
    height: 17vh;
    display: none;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    padding-left: 1rem;
    padding-top: 1rem;
    border-bottom: none;
} */
/* 
.subMenu01{
    right: -3rem;
}

.subMenu02{
    right: -1rem;
    height: 20vh;
}

.dropdown:hover li {
    border-bottom: none;
    padding-bottom: 0;
}

.main_link_label:hover .dropdown{
  display: block;
  opacity: 1;
  animation: slidUp_nav .5s ease ;
  visibility: visible;
}

.dropdown li {
    width: 100%;
    gap: 3rem;
    line-height: 2.2rem;
     opacity: .7;
    }
    .dropdown li:hover{
         opacity: 1;
    }
     
    .dropdown a{
        color: var(--white);
    }
     */
/* =========================
MEDIA QUERIES FOR LARGER SCREEN
============================ */
@media (min-width: 992px) {

  .header-input{
    width: 80%;
}

/* ==========================
Logo div
============================== */
.logo_div{
  width: 30%;
}

/*==========================================================================
ELEMENTS FOR LARGER DEVICE THAT ARE NOT DISPLAYED ON SMALL AND MEDIUM DEVICES
==============================================================================
 */
 .hand_burger_menu{
  display: none;
} 
/* ==============================================
FLAGE CONTAINER TO DISPLAY ON LARGER SCREEEN
================================================= */
.flag_container{
  display: flex;
}
  .email_contact_container{
    display: flex !important;
  }
  .icon_div{
    padding: 10px;
    border: 2px dotted var(--red);
    border-radius: 50%;
    color: var(--red);
}
}

